<p><b>BitHug will not spam you.</b>  BitHug will email you only for matters
directly related to your account.  For example, we may email you when someone
requests a code review from you, or if the service changes in a way that is
important for you to know about.</p>

<p><b>BitHug will not share your data with third parties, except when required
to operate the service, or when you explicitly request that we share your data,
or when required by law.</b>  For example, we may share your email address with
other users when you ask that we do so.  Otherwise, we retain and use data that
you disclose to us only as needed to operate this service.</p>

<p><b>Bithug requires that you act civilly.</b>  Do not send spam or harass
other users.  Do not upload material in violation of the law, including
copyright law.  Don't be a jerk.  We may terminate your account if you violate
these terms.</p>

<p><b>BitHug is experimental.</b>  There is no warranty.  Someday, BitHug may be
forced to change the service or these terms (for example, to state these terms
in more traditionally dense and unreadable legal language).  We reserve the
right to do this.  We pledge that any revised terms will honor the spirit of the
terms given above.</p>

<p><b>By accepting these terms, you hereby certify that you are at least 13
years of age under United States law.</b></p>
